asgiref==3.5.2
coverage==6.5.0
Django==4.1.2
django-admin-list-filter-dropdown==1.0.3
django-debug-toolbar==3.7.0
django-extensions==3.1.5
django-service-objects==0.7.1
django-taggit==3.0.0
docutils==0.19
factory-boy==3.2.1
pydot==1.4.2
pyparsing==3.0.9
sqlparse==0.4.3
