asgiref==3.9.1
django==5.2.6
django-environ==0.12.0
dj-database-url==2.1.0
django-taggit==6.1.0
requests==2.31.0
gunicorn==23.0.0
packaging==25.0
pip==25.1.1
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
setuptools==80.9.0
sqlparse==0.5.3
typing-extensions==4.15.0
whitenoise==6.9.0
django-service-objects==0.7.1
django-allauth==64.0.0
wonderwords==2.2.0
django-htmx==1.19.0
starvote>=2.0.6

# Development Dependencies
django-debug-toolbar>=4.2.0
django-extensions>=3.2.3
pydot>=4.0.1

# Testing Dependencies
pytest>=7.4.0
pytest-django>=4.5.2
pytest-cov>=4.0.0
pytest-factoryboy>=2.5.1
factory-boy>=3.3.0
faker>=18.0.0
